* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/*css comuni*/
:root{
    --green-underline: #adff2f;
    --black-background: #141922;
    --black-nav-footer: #282828;
    --black-header: #000000;
    --black-main: #141922;
    --grey: #a3a3a3;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.height-90 {
    height: 90%;
}
/*fine css comuni*/

/*css container*/
.container {
    height: 100vh;
}
/*/css container*/


/*css nav-header*/
.nav-header {
    height: 10%;
    background-color: rgba(8,11,18,0.7);
    position: fixed;
}
/*/css header*/


/*css main/header*/
.main-content {
    display: flex;
}

header {
    width: 15%;
    background-color: var(--black-header);
}

main {  
    width: 85%;
    background-color: var(--black-main);
}
/*/css main/header*/


/*css-nav-footer*/
.nav-footer {
    height: 10%;
    background-color: var(--black-nav-footer);
    position: fixed;
    bottom: 0;
}
/*/css nav-footer*/