* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/*css comuni*/
:root{
    --green-underline: #adff2f;
    --black-background: #141922;
    --black-nav-footer: #282828;
    --black-header: #000000;
    --black-main: #141922;
    --grey: #a3a3a3;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.height-90 {
    height: 90%;
}

a.btn {
    display: inline-block;
    background-color: transparent;
    border-radius: 2em;
    font-size: 0.8em;
    border: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    margin-right: 0.5em;
}

a.btn:hover {
    padding: 13px 35px;
    font-size: 0.9em;
}
/*fine css comuni*/

/*css container*/
.container {
    height: 100vh;
}
/*/css container*/


/*css nav-header*/
.nav-header {
    width: 85%;
    right: 0;
    height: 70px;
    background-color: rgba(8,11,18,0.7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;
}
/*/css header*/


/*css main/header*/
.main-content {
    display: flex;
}

/*header*/
header {
    width: 15%;
    background-color: var(--black-header);
    height: calc(100% - 70px);
}

header img {
    margin-top: 1em;
    width: 70%;
    margin-left: 1em;
}
/*/header*/

/*main*/
main {  
    width: 85%;
    background-color: var(--black-main);
    height: calc(100% - 70px);
    overflow: auto;
}
/*/main*/
/*/css main/header*/


/*css-nav-footer*/
.nav-footer {
    min-height: 70px;
    background-color: var(--black-nav-footer);
    position: fixed;
    bottom: 0;
}
/*/css nav-footer*/