* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/*css comuni*/
:root{
    --green-underline: #adff2f;
    --black-background: #141922;
    --black-nav-footer: #282828;
    --black-header: #000000;
    --black-main: #141922;
    --grey: #a3a3a3;
    --grey-text: #848484;
    --text-hover: #d2d2d2;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.height-90 {
    height: 90%;
}

a.btn {
    display: inline-block;
    background-color: transparent;
    border-radius: 2em;
    font-size: 0.8em;
    border: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    margin-right: 16.5em;
}

a.btn:hover {
    padding: 13px 35px;
    font-size: 0.9em;
}
/*fine css comuni*/

/*css container*/
.container {
    height: 100vh;
    overflow: hidden;
}
/*/css container*/


/*css nav-header*/
.nav-header {
    left: 190px;
    height: 70px;
    background-color: rgba(8,11,18,0.7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000000;
}
/*/css header*/


/*css main/header*/
.main-content {
    display: flex;
}

/*header*/
header {
    width: 15%;
    min-width: 190px;
    background-color: var(--black-header);
    height: calc(100% - 70px);
}

header img {
    margin-top: 1em;
    width: 70%;
    margin-left: 1em;
    max-width: 140px;
}

header ul {
    list-style: none;
    margin-top: 1em;
}

header ul li {
    margin-top: 0.5em;
    height: 1.5em;
}

header ul li button {
    background-color: var(--black-header);
    color: var(--grey-text);
    border: none;
    cursor: pointer;
    margin-left: 1em;
    font-size: 1em;
    vertical-align: super;
}

li div {
    width: 5px;
    height: 100%;
    display: none;
}

header ul li button:hover,
header ul li button:active,
header ul li button:focus{
    color: var(--text-hover);
}

header ul li:hover div,
header ul li:focus div {
    display: inline-block;
    background-color: var(--green-underline);
}

/*css playlist*/
.playlist {
    margin-top: 1em;
    margin-left: 1em;
    overflow: auto;
    width: 100%;
    height: calc(100% - 260px);
}

.playlist span {
    font-weight: 900;
    font-size: 0.8em;
    color:white;
}

.playlist ul li {
    height: 1.5em;
}

.playlist ul {
    font-size: 0.8em;
    color: var(--grey-text);
    list-style: none;
}

.playlist ul li button i {
    font-size: 2em;
    vertical-align: middle;
}

.playlist ul li:first-child {
    margin-bottom: 1em;
    line-height: 1em;
    margin-left: -1em;
}

.playlist ul li:hover {
    color: white;
}
/*fine css playlist*/

/*inzio css playlist-footer*/
.playlist-footer {
    height: 70px;
    overflow: hidden;
    width: 100%;
    margin-left: 1em;
}

.playlist-footer button {
    background-color: transparent;
    color: var(--grey-text);
    border: none;
    height: 2em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.playlist-footer button:first-child {
    margin-left: 0.5em;
}

.playlist-footer button:last-child i {
    vertical-align: middle;
    font-size: 2em;
}

.playlist-footer button:last-child span {
    color: white;
    font-weight: 900;
} 

.playlist-footer button:first-child:hover {
    color: white;
}

.playlist-footer div {
    width: 80%;
    height: 1px;
    background-color: var(--grey-text);
    margin-bottom: 0.5em;
}
/*fine css playlist footer*/
/*/header*/

/*main*/
main {  
    width: 85%;
    background-color: var(--black-main);
    height: calc(100% - 70px);
    overflow: auto;
}
/*/main*/

/*nav-main*/
.nav-main  {
    margin-top: 6em;
    margin-left: 20%;
}

.nav-main ul {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--grey-text);
    display: flex;
    flex-direction: row;
}

.nav-main ul li {
    display: inline-block;
    margin-right: 1em;
    width: 10em;
}

.nav-main ul li button {
    text-align: center;
    border: none;
    background-color: transparent;
    color: var(--grey-text);
    width: 100%;
    cursor: pointer;
}

.nav-main ul li button hr {
    width: 2em;
    margin-left: 40%;
    height: 3px;
    border: none;
    display: none;
    background-color: var(--green-underline);
}

.nav-main ul li button:hover hr{
    display: block;
}
/*/nav-main*/

/*css main-song*/
.main-song {
    padding: 1em 0 1em 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-song div {
    margin-bottom: 1em;
}

.main-song div h2 {
    color: white;
    margin-bottom: 0.5em;
}

.main-song div span {
    color: var(--grey-text);
    font-size: 0.8em;
    margin-top: 2em;
}

/*css Recently-played*/
.Recenti-album {
    width: 100%;
    display: flex;    
    flex-direction: row;
}

.album {
    width: 17%;
    max-width: 200px;
    height: 230px;
    margin-right: 1em;
}

.album img {
    width: 100%;
}

.album:hover img {
    filter: grayscale(100%);
    filter: opacity(0.3);
    cursor: pointer;
}

.album:hover .play-button {
    display: block;
}

.album {
    text-align: center;
    position: relative;
}

.play-button {
    top: 3em;
    width: 100%;
    height: 11em;
    position: absolute;
    display: none;
    cursor: pointer;
}

.play-button button {
    color: white;
    background-color: transparent;
    border: none;
}

.play-button i {
    font-size: 4em;
}

.album h3 {
    color:white;
    font-size: 0.8em;
}

.album span {
    font-size: 0.5em;
}
/*/css Recently-played*/

/*css creato per*/
.Creato-per-playlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.playlist-button {
    top: 3.5em;
    width: 100%;
    height: 11em;
    position: absolute;
    cursor: pointer;
    display: none;
}

.playlist-button button {
    color: white;
    background-color: transparent;
    border: none;
}

.playlist-button button i {
    font-size: 4em;
}

.Creato-per-playlist .list {
    height: 230px;
    width: 15.4%;
    max-width: 200px;
    margin-right: 1em;
    text-align: center;
    position: relative;
}

.Creato-per-playlist .list img {
    width: 100%;
}

.list h3 {
    color:white;
    font-size: 0.8em;
}

.list:hover img {
    filter: grayscale(100%);
    filter: opacity(0.3);
    cursor: pointer;
}

.list:hover .playlist-button{
    display: block;
}

/*css main-song*/
/*/css main-song*/
/*/css main/header*/


/*css-nav-footer*/
.nav-footer {
    width: 100%;
    height: 70px;
    min-height: 70px;
    background-color: var(--black-nav-footer);
    position: fixed;
    bottom: 0em;
    z-index: 99999;
    display: flex;
}

/*nav-footer-sx*/
.nav-footer-sx {
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding: 0.6em 1em 0.6em 1em;
    text-align: center;
}

.nav-footer-sx img {
    height: 100%;
}

.nav-footer-sx .nav-footer-sx-name {
    font-size: 0.7em;
    padding: 0.8em 0;
}

.nav-footer-sx .nav-footer-sx-name h1 {
    color: white;
}

.nav-footer-sx .nav-footer-sx-name span {
    color: var(--grey-text);
}

.nav-footer-sx-ico {
    line-height: 3.2em;
}

.nav-footer-sx .nav-footer-sx-name:hover span {
    text-decoration: underline;
    color: white;
}

.nav-footer-sx .nav-footer-sx-ico i:first-child:hover {
    color: white;
}

.nav-footer-sx .nav-footer-sx-ico i:last-child:hover {
    color: white;
}

.nav-footer-sx .nav-footer-sx-ico button {
    background-color: transparent;
    border: none;
    color: var(--grey-text);
    font-size: 0.8em;
}
/*/nav-footer-sx*/

/*nav-footer-cx*/
.nav-footer-cx {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.nav-footer-cx .nav-footer-cx-top {
    height: 50%;
    width: 100%;
}

.nav-footer-cx .nav-footer-cx-bottom {
    height: 50%;
    width: 100%;
}

.nav-footer-cx .nav-footer-cx-top ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-footer-cx .nav-footer-cx-top ul li {
    margin-left: 1em;
    align-items: center;
}

.nav-footer-cx .nav-footer-cx-top li .normale {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.0em;
    cursor: pointer;
    margin-top: 0.5em;
}

.nav-footer-cx .nav-footer-cx-top li .play {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0.13em 0.5em;
}

.nav-footer-cx .nav-footer-cx-top li .play:hover {
    font-size: 1.8em;
    margin: 0.10em 0.5em;
}

.nav-footer-cx-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-footer-cx-bottom div {
    width: 400px;
    height: 2px;
    background-color: var(--grey-text);
    margin: 0.45em 1em 0em 1em;
    position: relative;
}

.nav-footer-cx-bottom div .green-time-music {
    position: absolute;
    top: -0.45em;
    left: -0.9em;
    width: 200px;
    height: 2px;
    background-color: var(--green-underline);
    z-index: 1;
    display: none;
}

.nav-footer-cx-bottom div .grey-time-music {
    position: absolute;
    top: -0.45em;
    left: -0.9em;
    width: 200px;
    height: 2px;
    background-color: var(--grey);
}

.nav-footer-cx-bottom div .pointer-music {
    position: absolute;
    top: -0.85em;
    left: 11em;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    display: none;
}

.nav-footer-cx-bottom div:hover .green-time-music {
    display: block;
    cursor: pointer;
}

.nav-footer-cx-bottom div:hover .pointer-music {
    display: block;
    cursor: pointer;
}

.nav-footer-cx-bottom span {
    color: white;
    font-weight: 600;
    font-size: 0.8em;
}
/*/nav-footer-cs*/

/*nav-footer-dx*/
.nav-footer-dx {
    width: 20%;
    display: flex;
    align-items: center;
}

.nav-footer-dx ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-footer-dx ul li {
    margin-left: 1em;
}

.nav-footer-dx ul li button {
    background-color: transparent;
    border: none;
    color: var(--grey-text);
    cursor: pointer;
}

.nav-footer-dx ul li:hover button {
    color: white;
}

.volume {
    width: 100px;
    height: 5px;
    background-color: var(--grey-text);
    margin-left: 1em;
    position: relative;
}

.volume .green-time-volume {
    position: absolute;
    top: -0.0em;
    left: -0.0em;
    width: 50px;
    height: 5px;
    background-color: var(--green-underline);
    z-index: 1;
    display: none;
}

.volume .grey-time-volume {
    position: absolute;
    top: -0.0em;
    left: -0.0em;
    width: 50px;
    height: 5px;
    background-color: var(--grey);
}

.volume .pointer-volume {
    position: absolute;
    top: -0.15em;
    left: 2.5em;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    display: none;
}

.volume:hover .green-time-volume {
    display: block;
    cursor: pointer;
}

.volume:hover .pointer-volume {
    display: block;
    cursor: pointer;
}

/*/nav-footer-dx*/
/*/css nav-footer*/